/* bongudth */
:root { /* bongudth */
	--pink-color: #eb7e7b; /* bongudth */
	--pink-icon: #c06e6b; /* bongudth */
	--pink-border: #cf9eaa; /* bongudth */
	--pink-shadow: #ff85a2; /* bongudth */
	--white-shadow: #f7d8d8; /* bongudth */
} /* bongudth */
 /* bongudth */
body { /* bongudth */
	background-color: #ffe5eb; /* bongudth */
	color: var(--pink-color); /* bongudth */
	font-family: "Sofia", cursive; /* bongudth */
	margin: 0; /* bongudth */
	padding-top: 100px; /* bongudth */
	text-align: center; /* bongudth */
} /* bongudth */
* { /* bongudth */
	box-sizing: border-box; /* bongudth */
} /* bongudth */
 /* bongudth */
/* START AVATAR */ /* bongudth */
#avatar .avatar { /* bongudth */
	transition: all 1s ease-in-out; /* bongudth */
} /* bongudth */
#avatar .avatar:hover { /* bongudth */
	transform: scale(1.1); /* bongudth */
	transition: all 1s ease-in-out; /* bongudth */
} /* bongudth */
#avatar .avatar img { /* bongudth */
	width: 251px; /* bongudth */
	height: 251px; /* bongudth */
	border: 1px solid var(--pink-border); /* bongudth */
	border-radius: 50%; /* bongudth */
	box-shadow: 0 0 20px 0 var(--pink-shadow); /* bongudth */
	transition: all 1s ease-in-out; /* bongudth */
} /* bongudth */
#avatar .avatar img:hover { /* bongudth */
	border-radius: 10px; /* bongudth */
	transition: all 1s ease-in-out; /* bongudth */
} /* bongudth */
#avatar .avatar p { /* bongudth */
	display: block; /* bongudth */
	font-size: 20px; /* bongudth */
	opacity: 0; /* bongudth */
} /* bongudth */
#avatar .avatar:hover p { /* bongudth */
	opacity: 1; /* bongudth */
	transition: opacity 0.8s; /* bongudth */
} /* bongudth */
@media (max-width: 426px) { /* bongudth */
	#avatar .avatar img { /* bongudth */
		width: 151px; /* bongudth */
		height: 151px; /* bongudth */
	} /* bongudth */
} /* bongudth */
/* END AVATAR */ /* bongudth */
 /* bongudth */
/* START SOCIAL */ /* bongudth */
#social .social { /* bongudth */
	width: 100%; /* bongudth */
	height: 100px; /* bongudth */
	display: flex; /* bongudth */
	align-items: center; /* bongudth */
	justify-content: center; /* bongudth */
} /* bongudth */
#social .social a { /* bongudth */
	width: 35px; /* bongudth */
	height: 35px; /* bongudth */
	background-color: #fff; /* bongudth */
	color: var(--pink-icon); /* bongudth */
	display: flex; /* bongudth */
	align-items: center; /* bongudth */
	justify-content: center; /* bongudth */
	text-decoration: none; /* bongudth */
	margin: 10px; /* bongudth */
	transition: all 1s; /* bongudth */
	border-radius: 50%; /* bongudth */
	border: 0.125rem solid #fff; /* bongudth */
	box-shadow: 0 0 8px 0 var(--pink-shadow); /* bongudth */
} /* bongudth */
#social .social a:focus { /* bongudth */
	outline: none; /* bongudth */
} /* bongudth */
#social .social .facebook:hover, /* bongudth */
#social .social .facebook:focus { /* bongudth */
	color: #3b5998; /* bongudth */
	box-shadow: 0 0 24px 0 #3b5998; /* bongudth */
} /* bongudth */
#social .social .instagram:hover, /* bongudth */
#social .social .instagram:focus { /* bongudth */
	color: #e95950; /* bongudth */
	box-shadow: 0 0 24px 0 #e95950; /* bongudth */
} /* bongudth */
#social .social .github:hover, /* bongudth */
#social .social .github:focus { /* bongudth */
	color: #000000; /* bongudth */
	box-shadow: 0 0 24px 0 #000000; /* bongudth */
} /* bongudth */
#social .social .linkedin:hover, /* bongudth */
#social .social .linkedin:focus { /* bongudth */
	color: #007bb5; /* bongudth */
	box-shadow: 0 0 24px 0 #007bb5; /* bongudth */
} /* bongudth */
#social .social .pinterest:hover, /* bongudth */
#social .social .pinterest:focus { /* bongudth */
	color: #cb2027; /* bongudth */
	box-shadow: 0 0 24px 0 #cb2027; /* bongudth */
} /* bongudth */
#social .social .twitter:hover, /* bongudth */
#social .social .twitter:focus { /* bongudth */
	color: #55acee; /* bongudth */
	box-shadow: 0 0 24px 0 #55acee; /* bongudth */
} /* bongudth */
@media (max-width: 426px) { /* bongudth */
	#social .social a { /* bongudth */
		margin: 5px; /* bongudth */
	} /* bongudth */
} /* bongudth */
/* END SOCIAL */ /* bongudth */
 /* bongudth */
/* START GALLERY */ /* bongudth */
#gallery .gallery { /* bongudth */
	display: grid; /* bongudth */
	grid-template-columns: repeat(6, 200px); /* bongudth */
	grid-template-rows: repeat(5, 200px); /* bongudth */
	grid-gap: 10px; /* bongudth */
	justify-content: center; /* bongudth */
	margin: 50px auto; /* bongudth */
} /* bongudth */
#gallery .gallery p { /* bongudth */
	display: flex; /* bongudth */
	align-items: center; /* bongudth */
	justify-content: center; /* bongudth */
	align-content: center; /* bongudth */
	background-color: #fff; /* bongudth */
	box-shadow: 0 0 8px 0 var(--white-shadow); /* bongudth */
} /* bongudth */
#gallery .gallery .small-script p { /* bongudth */
	font-size: 14px; /* bongudth */
	width: 200px; /* bongudth */
	height: 200px; /* bongudth */
	padding: 10px; /* bongudth */
} /* bongudth */
#gallery .gallery .horizon-script p { /* bongudth */
	font-family: "Dancing Script", cursive; /* bongudth */
	font-size: 50px; /* bongudth */
	width: 410px; /* bongudth */
	height: 200px; /* bongudth */
	padding: 10px; /* bongudth */
} /* bongudth */
#gallery .gallery .big-script p { /* bongudth */
	font-family: "Dancing Script", cursive; /* bongudth */
	font-size: 50px; /* bongudth */
	width: 410px; /* bongudth */
	height: 410px; /* bongudth */
	padding: 20px; /* bongudth */
} /* bongudth */
#gallery .gallery img { /* bongudth */
	object-fit: cover; /* bongudth */
	box-shadow: 0 0 8px 0 var(--white-shadow); /* bongudth */
} /* bongudth */
#gallery .gallery .small-image img { /* bongudth */
	width: 200px; /* bongudth */
	height: 200px; /* bongudth */
} /* bongudth */
#gallery .gallery .horizon-image img { /* bongudth */
	width: 410px; /* bongudth */
	height: 200px; /* bongudth */
} /* bongudth */
#gallery .gallery .vertical-image img { /* bongudth */
	width: 200px; /* bongudth */
	height: 410px; /* bongudth */
} /* bongudth */
#gallery .gallery .big-image img { /* bongudth */
	width: 410px; /* bongudth */
	height: 410px; /* bongudth */
} /* bongudth */
#gallery .gallery .one { /* bongudth */
	grid-row: 1 / 3; /* bongudth */
	grid-column: 1 / 3; /* bongudth */
} /* bongudth */
#gallery .gallery .two { /* bongudth */
	grid-row: 1 / 2; /* bongudth */
	grid-column: 3 / 4; /* bongudth */
} /* bongudth */
#gallery .gallery .three { /* bongudth */
	grid-row: 1 / 2; /* bongudth */
	grid-column: 4 / 5; /* bongudth */
} /* bongudth */
#gallery .gallery .four { /* bongudth */
	grid-row: 1 / 2; /* bongudth */
	grid-column: 5 / 7; /* bongudth */
} /* bongudth */
#gallery .gallery .five { /* bongudth */
	grid-row: 2 / 4; /* bongudth */
	grid-column: 3 / 5; /* bongudth */
} /* bongudth */
#gallery .gallery .six { /* bongudth */
	grid-row: 2 / 5; /* bongudth */
	grid-column: 5 / 6; /* bongudth */
} /* bongudth */
#gallery .gallery .seven { /* bongudth */
	grid-row: 2 / 5; /* bongudth */
	grid-column: 6 / 7; /* bongudth */
} /* bongudth */
#gallery .gallery .eight { /* bongudth */
	grid-row: 3 / 4; /* bongudth */
	grid-column: 1 / 2; /* bongudth */
} /* bongudth */
#gallery .gallery .nine { /* bongudth */
	grid-row: 3 / 4; /* bongudth */
	grid-column: 2 / 3; /* bongudth */
} /* bongudth */
#gallery .gallery .ten { /* bongudth */
	grid-row: 3 / 4; /* bongudth */
	grid-column: 5 / 6; /* bongudth */
} /* bongudth */
#gallery .gallery .eleven { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 1 / 2; /* bongudth */
} /* bongudth */
#gallery .gallery .twelve { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 2 / 3; /* bongudth */
} /* bongudth */
#gallery .gallery .thirteen { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 3 / 4; /* bongudth */
} /* bongudth */
#gallery .gallery .fourteen { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 4 / 5; /* bongudth */
} /* bongudth */
#gallery .gallery .fifteen { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 5 / 6; /* bongudth */
} /* bongudth */
#gallery .gallery .sixteen { /* bongudth */
	grid-row: 4 / 5; /* bongudth */
	grid-column: 6 / 7; /* bongudth */
} /* bongudth */
#gallery .gallery .seventeen { /* bongudth */
	grid-row: 5 / 6; /* bongudth */
	grid-column: 1 / 2; /* bongudth */
} /* bongudth */
#gallery .gallery .eighteen { /* bongudth */
	grid-row: 5 / 6; /* bongudth */
	grid-column: 3 / 4; /* bongudth */
} /* bongudth */
#gallery .gallery .nineteen { /* bongudth */
	grid-row: 5 / 6; /* bongudth */
	grid-column: 4 / 6; /* bongudth */
} /* bongudth */
#gallery .gallery .twenty { /* bongudth */
	grid-row: 5 / 6; /* bongudth */
	grid-column: 6 / 7; /* bongudth */
} /* bongudth */
@media (max-width: 1024px) { /* bongudth */
	#gallery .gallery { /* bongudth */
		grid-template-columns: repeat(4, 200px); /* bongudth */
		grid-template-rows: repeat(8, 200px); /* bongudth */
		grid-gap: 5px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .small-script p { /* bongudth */
		font-size: 12px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-script p { /* bongudth */
		font-size: 40px; /* bongudth */
		width: 405px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-script p { /* bongudth */
		font-size: 40px; /* bongudth */
		width: 405px; /* bongudth */
		height: 405px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-image img { /* bongudth */
		width: 405px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .vertical-image img { /* bongudth */
		height: 410px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-image img { /* bongudth */
		width: 405px; /* bongudth */
		height: 405px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .one { /* bongudth */
		grid-row: 1 / 3; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .two { /* bongudth */
		grid-row: 1 / 2; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .three { /* bongudth */
		grid-row: 1 / 2; /* bongudth */
		grid-column: 4 / 5; /* bongudth */
	} /* bongudth */
	#gallery .gallery .four { /* bongudth */
		grid-row: 2 / 3; /* bongudth */
		grid-column: 3 / 5; /* bongudth */
	} /* bongudth */
	#gallery .gallery .five { /* bongudth */
		grid-row: 3 / 5; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .six { /* bongudth */
		grid-row: 3 / 4; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .seven { /* bongudth */
		grid-row: 3 / 5; /* bongudth */
		grid-column: 4 / 5; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eight { /* bongudth */
		grid-row: 4 / 5; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .nine { /* bongudth */
		grid-row: 5 / 6; /* bongudth */
		grid-column: 1 / 2; /* bongudth */
	} /* bongudth */
	#gallery .gallery .ten { /* bongudth */
		grid-row: 5 / 6; /* bongudth */
		grid-column: 2 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eleven { /* bongudth */
		grid-row: 5 / 6; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .twelve { /* bongudth */
		grid-row: 5 / 7; /* bongudth */
		grid-column: 4 / 5; /* bongudth */
	} /* bongudth */
	#gallery .gallery .thirteen { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .fourteen { /* bongudth */
		grid-row: 6 / 7; /* bongudth */
		grid-column: 1 / 2; /* bongudth */
	} /* bongudth */
	#gallery .gallery .fifteen { /* bongudth */
		grid-row: 6 / 7; /* bongudth */
		grid-column: 2 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .sixteen { /* bongudth */
		grid-row: 6 / 7; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .seventeen { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eighteen { /* bongudth */
		grid-row: 7 / 8; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .nineteen { /* bongudth */
		grid-row: 7 / 8; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .twenty { /* bongudth */
		grid-row: 7 / 8; /* bongudth */
		grid-column: 4 / 5; /* bongudth */
	} /* bongudth */
} /* bongudth */
@media (max-width: 768px) { /* bongudth */
	#gallery .gallery { /* bongudth */
		grid-template-columns: repeat(4, 150px); /* bongudth */
		grid-template-rows: repeat(8, 150px); /* bongudth */
	} /* bongudth */
	#gallery .gallery .small-script p { /* bongudth */
		font-size: 10px; /* bongudth */
		width: 150px; /* bongudth */
		height: 150px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-script p { /* bongudth */
		font-size: 30px; /* bongudth */
		width: 305px; /* bongudth */
		height: 150px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-script p { /* bongudth */
		font-size: 30px; /* bongudth */
		width: 305px; /* bongudth */
		height: 305px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .small-image img { /* bongudth */
		width: 150px; /* bongudth */
		height: 150px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-image img { /* bongudth */
		width: 305px; /* bongudth */
		height: 150px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .vertical-image img { /* bongudth */
		width: 150px; /* bongudth */
		height: 305px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-image img { /* bongudth */
		width: 305px; /* bongudth */
		height: 305px; /* bongudth */
	} /* bongudth */
} /* bongudth */
@media (max-width: 426px) { /* bongudth */
	#gallery .gallery { /* bongudth */
		grid-template-columns: repeat(3, 100px); /* bongudth */
		grid-template-rows: repeat(9, 100px); /* bongudth */
	} /* bongudth */
	#gallery .gallery .small-script p { /* bongudth */
		font-size: 10px; /* bongudth */
		width: 100px; /* bongudth */
		height: 100px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-script p { /* bongudth */
		font-size: 30px; /* bongudth */
		width: 205px; /* bongudth */
		height: 100px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-script p { /* bongudth */
		font-size: 30px; /* bongudth */
		width: 205px; /* bongudth */
		height: 205px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .small-image img { /* bongudth */
		width: 100px; /* bongudth */
		height: 100px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .horizon-image img { /* bongudth */
		width: 205px; /* bongudth */
		height: 100px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .vertical-image img { /* bongudth */
		width: 100px; /* bongudth */
		height: 205px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .big-image img { /* bongudth */
		width: 205px; /* bongudth */
		height: 205px; /* bongudth */
	} /* bongudth */
	#gallery .gallery .one { /* bongudth */
		grid-row: 1 / 3; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .two { /* bongudth */
		grid-row: 1 / 2; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .three { /* bongudth */
		grid-row: 2 / 3; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .four { /* bongudth */
		grid-row: 3 / 4; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .five { /* bongudth */
		grid-row: 4 / 6; /* bongudth */
		grid-column: 1 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .six { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .seven { /* bongudth */
		grid-row: 3 / 5; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eight { /* bongudth */
		grid-row: 5 / 6; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .nine { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .ten { /* bongudth */
		grid-row: 6 / 7; /* bongudth */
		grid-column: 2 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eleven { /* bongudth */
		grid-row: 6 / 7; /* bongudth */
		grid-column: 1 / 2; /* bongudth */
	} /* bongudth */
	#gallery .gallery .twelve { /* bongudth */
		grid-row: 6 / 8; /* bongudth */
		grid-column: 3 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .thirteen { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .fourteen { /* bongudth */
		grid-row: 7 / 8; /* bongudth */
		grid-column: 1 / 2; /* bongudth */
	} /* bongudth */
	#gallery .gallery .fifteen { /* bongudth */
		grid-row: 7 / 8; /* bongudth */
		grid-column: 2 / 3; /* bongudth */
	} /* bongudth */
	#gallery .gallery .sixteen { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .seventeen { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
	#gallery .gallery .eighteen { /* bongudth */
		grid-row: 8 / 9; /* bongudth */
		grid-column: 1 / 2; /* bongudth */
	} /* bongudth */
	#gallery .gallery .nineteen { /* bongudth */
		grid-row: 8 / 9; /* bongudth */
		grid-column: 2 / 4; /* bongudth */
	} /* bongudth */
	#gallery .gallery .twenty { /* bongudth */
		display: none; /* bongudth */
	} /* bongudth */
} /* bongudth */
/* END GALLERY */ /* bongudth */
 /* bongudth */
/* START SKILL */ /* bongudth */
:root { /* bongudth */
	--radius: 10px; /* bongudth */
	--icolor1: #d587a8; /* bongudth */
	--icolor2: #e19067; /* bongudth */
	--icolor3: #005b5c; /* bongudth */
	--icolor4: #4f7dd3; /* bongudth */
} /* bongudth */
.container { /* bongudth */
	position: absolute; /* bongudth */
	left: 0; /* bongudth */
	right: 0; /* bongudth */
	min-width: 400px; /* bongudth */
	display: grid; /* bongudth */
	grid-template-columns: 5% auto 5%; /* bongudth */
	grid-template-rows: 150px 100px 40px auto; /* bongudth */
	height: -webkit-fill-available; /* bongudth */
	font-family: "Handlee", cursive; /* bongudth */
} /* bongudth */
.header { /* bongudth */
	font-family: "Dancing Script", cursive; /* bongudth */
	grid-row: 1 / 2; /* bongudth */
	grid-column: 2 / 3; /* bongudth */
} /* bongudth */
.title { /* bongudth */
	width: 100%; /* bongudth */
	height: 100%; /* bongudth */
	line-height: 150px; /* bongudth */
	font-size: 70px; /* bongudth */
	text-align: center; /* bongudth */
} /* bongudth */
.navi { /* bongudth */
	grid-row: 2 / 3; /* bongudth */
	grid-column: 2 / 3; /* bongudth */
	display: grid; /* bongudth */
	grid-template-columns: 25% 25% 25% 25%; /* bongudth */
	grid-template-rows: 100%; /* bongudth */
} /* bongudth */
.navi-item1, /* bongudth */
.navi-item2, /* bongudth */
.navi-item3, /* bongudth */
.navi-item4 { /* bongudth */
	display: flex; /* bongudth */
	align-items: center; /* bongudth */
	justify-content: center; /* bongudth */
} /* bongudth */
.navi-item1 { /* bongudth */
	grid-column: 1; /* bongudth */
} /* bongudth */
.navi-item2 { /* bongudth */
	grid-column: 2; /* bongudth */
} /* bongudth */
.navi-item3 { /* bongudth */
	grid-column: 3; /* bongudth */
} /* bongudth */
.navi-item4 { /* bongudth */
	grid-column: 4; /* bongudth */
} /* bongudth */
.nav-button { /* bongudth */
	height: 70px; /* bongudth */
	width: 60px; /* bongudth */
	border: none; /* bongudth */
	outline: none; /* bongudth */
	border-radius: 20px; /* bongudth */
	background: #fff; /* bongudth */
	box-shadow: 0 0 20px 0 var(--pink-shadow); /* bongudth */
	font-weight: 700; /* bongudth */
	cursor: pointer; /* bongudth */
	position: relative; /* bongudth */
	overflow: hidden; /* bongudth */
	z-index: 1; /* bongudth */
	transition: 0.5s; /* bongudth */
} /* bongudth */
.nav-button span { /* bongudth */
	position: absolute; /* bongudth */
	width: 25%; /* bongudth */
	height: 100%; /* bongudth */
	background-color: #e96196; /* bongudth */
	transform: translateY(150%); /* bongudth */
	border-radius: 50%; /* bongudth */
	left: calc((var(--n) - 1) * 25%); /* bongudth */
	transition: 0.5s; /* bongudth */
	transition-delay: calc((var(--n) - 1) * 0.1s); /* bongudth */
	z-index: -1; /* bongudth */
} /* bongudth */
.nav-button:hover span { /* bongudth */
	transform: translateY(0) scale(2); /* bongudth */
} /* bongudth */
.nav-button span:nth-child(1) { /* bongudth */
	--n: 1; /* bongudth */
} /* bongudth */
.nav-button span:nth-child(2) { /* bongudth */
	--n: 2; /* bongudth */
} /* bongudth */
.nav-button span:nth-child(3) { /* bongudth */
	--n: 3; /* bongudth */
} /* bongudth */
.nav-button span:nth-child(4) { /* bongudth */
	--n: 4; /* bongudth */
} /* bongudth */
#workbutton .navi-icon { /* bongudth */
	color: var(--icolor1); /* bongudth */
} /* bongudth */
#productbutton .navi-icon { /* bongudth */
	color: var(--icolor2); /* bongudth */
} /* bongudth */
#translationbutton .navi-icon { /* bongudth */
	color: var(--icolor3); /* bongudth */
} /* bongudth */
#gamebutton .navi-icon { /* bongudth */
	color: var(--icolor4); /* bongudth */
} /* bongudth */
.navi-icon { /* bongudth */
	height: 40px; /* bongudth */
	line-height: 50px; /* bongudth */
	font-size: 20px; /* bongudth */
	text-align: center; /* bongudth */
} /* bongudth */
.navi-text { /* bongudth */
	height: 30px; /* bongudth */
	line-height: 20px; /* bongudth */
	text-align: center; /* bongudth */
	font-size: 0.9em; /* bongudth */
	font-weight: 300; /* bongudth */
} /* bongudth */
.indicators { /* bongudth */
	grid-column: 2 / 3; /* bongudth */
	grid-row: 3 / 4; /* bongudth */
	display: grid; /* bongudth */
	grid-template-columns: 25% 25% 25% 25%; /* bongudth */
} /* bongudth */
#i1, /* bongudth */
#i2, /* bongudth */
#i3, /* bongudth */
#i4 { /* bongudth */
	display: flex; /* bongudth */
	align-items: center; /* bongudth */
	justify-content: center; /* bongudth */
} /* bongudth */
#i1 { /* bongudth */
	grid-column: 1; /* bongudth */
} /* bongudth */
#i2 { /* bongudth */
	grid-column: 2; /* bongudth */
} /* bongudth */
#i3 { /* bongudth */
	grid-column: 3; /* bongudth */
} /* bongudth */
#i4 { /* bongudth */
	grid-column: 4; /* bongudth */
} /* bongudth */
.navi-indicator  /* bongudth */{
	height: 4px; /* bongudth */
	width: 60px; /* bongudth */
	border-radius: 20px; /* bongudth */
	transition: width 0.2s; /* bongudth */
} /* bongudth */
#ni1 { /* bongudth */
	background: var(--icolor1); /* bongudth */
} /* bongudth */
#ni2 { /* bongudth */
	background: var(--icolor2); /* bongudth */
} /* bongudth */
#ni3 { /* bongudth */
	background: var(--icolor3); /* bongudth */
} /* bongudth */
#ni4 { /* bongudth */
	background: var(--icolor4); /* bongudth */
} /* bongudth */
.menu { /* bongudth */
	grid-column: 2 / 3; /* bongudth */
	grid-row: 4 / 5 ; /* bongudth */
} /* bongudth */
.text-item, /* bongudth */
.link-item, /* bongudth */
.image-item { /* bongudth */
	grid-column: 2; /* bongudth */
	margin: 15px; /* bongudth */
	display: grid; /* bongudth */
	font-size: 1.2em; /* bongudth */
	border-radius: var(--radius); /* bongudth */
	padding: 0 25px; /* bongudth */
	background: #f3f3f3; /* bongudth */
	box-shadow: 0 0 20px 0 #cf9eaa; /* bongudth */
} /* bongudth */
.text-item { /* bongudth */
	grid-template-columns: auto 200px; /* bongudth */
	grid-template-rows: 50px auto; /* bongudth */
} /* bongudth */
.link-item { /* bongudth */
	grid-template-columns: auto; /* bongudth */
	grid-template-rows: 50px auto; /* bongudth */
} /* bongudth */
.image-item { /* bongudth */
	grid-template-rows: 50px 50px 275px; /* bongudth */
} /* bongudth */
.text-item-name, /* bongudth */
.link-item-name, /* bongudth */
.image-item-name { /* bongudth */
	grid-column-start: 1; /* bongudth */
	grid-column-end: 2; /* bongudth */
	grid-row-start: 1; /* bongudth */
	grid-row-end: 2; /* bongudth */
	font-weight: 900; /* bongudth */
	line-height: 70px; /* bongudth */
	text-align: start; /* bongudth */
} /* bongudth */
.link-item-name { /* bongudth */
	cursor: pointer; /* bongudth */
	color: inherit; /* bongudth */
} /* bongudth */
.link-item-name:active { /* bongudth */
	color: inherit; /* bongudth */
} /* bongudth */
.text-item-description, /* bongudth */
.link-item-description, /* bongudth */
.image-item-description { /* bongudth */
	grid-column-start: 1; /* bongudth */
	grid-column-end: 2; /* bongudth */
	grid-row-start: 2; /* bongudth */
	grid-row-end: 2; /* bongudth */
	text-align: start; /* bongudth */
	margin: 10px 0; /* bongudth */
} /* bongudth */
.text-item-year { /* bongudth */
	grid-column-start: 2; /* bongudth */
	grid-column-end: 2; /* bongudth */
	grid-row-start: 1; /* bongudth */
	grid-row-end: 3; /* bongudth */
	font-weight: 700; /* bongudth */
	line-height: 100px; /* bongudth */
	text-align: end; /* bongudth */
} /* bongudth */
.image-item-image { /* bongudth */
	grid-column-start: 1; /* bongudth */
	grid-column-end: 2; /* bongudth */
	grid-row-start: 3; /* bongudth */
	grid-row-end: 3; /* bongudth */
	font-weight: 700; /* bongudth */
	text-align: center; /* bongudth */
} /* bongudth */
.image-item img { /* bongudth */
	height: 250px; /* bongudth */
	width: auto; /* bongudth */
	object-fit: contain; /* bongudth */
} /* bongudth */
.menu-separator { /* bongudth */
	grid-column-start: 2; /* bongudth */
	grid-column-end: 2; /* bongudth */
	height: 50px; /* bongudth */
	margin: 15px; /* bongudth */
	margin-top: 35px; /* bongudth */
	font-size: 1.2em; /* bongudth */
	line-height: 50px; /* bongudth */
	font-weight: 700; /* bongudth */
	border-radius: var(--radius); /* bongudth */
	padding-left: 30px; /* bongudth */
	background: #f3f3f3; /* bongudth */
	box-shadow: 0 0 20px 0 #cf9eaa; /* bongudth */
} /* bongudth */
@media only screen and (min-width: 768px) { /* bongudth */
	.nav-button { /* bongudth */
		height: 70px; /* bongudth */
		width: 100%; /* bongudth */
		margin: 15px; /* bongudth */
		display: flex; /* bongudth */
		justify-content: center; /* bongudth */
		border-radius: var(--radius); /* bongudth */
	} /* bongudth */
	.navi-icon { /* bongudth */
		height: 100%; /* bongudth */
		line-height: 70px; /* bongudth */
		font-size: 25px; /* bongudth */
		text-align: center; /* bongudth */
	} /* bongudth */
	.navi-text { /* bongudth */
		line-height: 70px; /* bongudth */
		margin-left: 10px; /* bongudth */
		text-align: left; /* bongudth */
		font-size: 1.3em; /* bongudth */
		font-weight: 700; /* bongudth */
	} /* bongudth */
} /* bongudth */
@media only screen and (max-width: 1024px) { /* bongudth */
	.text-item, /* bongudth */
	.link-item, /* bongudth */
	.image-item { /* bongudth */
		font-size: 0.9em; /* bongudth */
	} /* bongudth */
} /* bongudth */
@media only screen and (max-width: 430px) { /* bongudth */
	.text-item { /* bongudth */
		grid-template-columns: auto 100px; /* bongudth */
	} /* bongudth */
} /* bongudth */
button, /* bongudth */
p { /* bongudth */
	display: inline-block; /* bongudth */
	border: none; /* bongudth */
	margin: 0; /* bongudth */
	text-decoration: none; /* bongudth */
	padding: 0; /* bongudth */
	background: none; /* bongudth */
	border-radius: 0; /* bongudth */
	-webkit-appearance: none; /* bongudth */
	-moz-appearance: none; /* bongudth */
	overflow: hidden; /* bongudth */
	user-select: none; /* bongudth */
	-webkit-tap-highlight-color: transparent; /* bongudth */
} /* bongudth */
input { /* bongudth */
	padding: 0; /* bongudth */
} /* bongudth */
input:focus { /* bongudth */
	outline: none; /* bongudth */
} /* bongudth */
button:focus { /* bongudth */
	outline: none; /* bongudth */
} /* bongudth */
textarea:focus { /* bongudth */
	outline: none; /* bongudth */
} /* bongudth */
/* END SKILL */ /* bongudth */
