body {
	background-color: #ffe3e9;
	color: #eb7e7b;
	text-align: center;
}
* {
	box-sizing: border-box;
}

/* START AVATAR */
.avatar {
	margin-top: 100px;
	transition: all 0.8s;
}
.avatar:hover {
	transform: scale(1.1);
}
.avatar:hover figcaption {
	opacity: 1;
	transition: opacity 0.8s;
}
.avatar figure {
	font-size: 20px;
}
.avatar img {
	border: 1px solid #cf9eaa;
	width: 251px;
	height: 251px;
	box-shadow: 0 0 20px 0 #cf9eaa;
	border-radius: 50%;
	transition: all 0.8s;
}
.avatar img:hover {
	border-radius: 0;
	transition: all 0.8s;
}
figcaption {
	font-family: "Sofia", cursive;
	opacity: 0;
}
/* END AVATAR */

/* START SOCIAL */
.social {
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.share {
	width: 2rem;
	height: 2rem;
	float: left;
	margin: 0.5rem 1rem 0.5rem 0;
	color: #c06e6b;
	border: 0.125rem solid #f3f3f3;
	box-shadow: 0 0 8px 0 #eb7e7b;
	border-radius: 50%;
	transition: 250ms;
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.share:last-child {
	margin-right: 0;
}
.share:focus {
	outline-color: inherit;
}
.facebook:hover,
.facebook:focus {
	color: #3b5998;
	box-shadow: 0 0 24px 0 #3b5998;
}
.instagram:hover,
.instagram:focus {
	color: #e95950;
	box-shadow: 0 0 24px 0 #e95950;
}
.github:hover,
.github:focus {
	color: #000000;
	box-shadow: 0 0 24px 0 #000000;
}
.linkedin:hover,
.linkedin:focus {
	color: #007bb5;
	box-shadow: 0 0 24px 0 #007bb5;
}
.pinterest:hover,
.pinterest:focus {
	color: #cb2027;
	box-shadow: 0 0 24px 0 #cb2027;
}
.twitter:hover,
.twitter:focus {
	color: #55acee;
	box-shadow: 0 0 24px 0 #55acee;
}
/* END SOCIAL */

/* START GALLERY */
.gallery {
	margin: 3.2rem 0.8rem;
}
.grid-container {
	margin: auto;
	display: grid;
	grid-gap: 1.1312rem;
	grid-template-columns: repeat(auto-fit, 12.8rem);
	grid-auto-rows: 12.8rem;
	grid-auto-flow: dense;
	justify-content: center;
	max-width: 75em;
}
.card {
	grid-row: auto / span 1;
	grid-column: auto / span 1;
	background-color: white;
	box-shadow: 0 0 10px 0 #cf9eaa;
	font-family: "Sofia", cursive;
}
.card__image {
	height: 100%;
	max-height: 100%;
	width: 100%;
	display: flex;
}
.card__image img {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	object-fit: cover;
}
.card__side-by-side {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}
.card__side-by-side--m {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}
.card__side-by-side--m img {
	min-height: auto;
}
.card__content {
	padding: 1.6rem;
}
.card--featured {
	grid-row: auto / span 3;
	grid-column: auto / span 2;
}
.card--2x {
	grid-row: auto / span 2;
	grid-column: auto / span 2;
}
.card--vertical {
	grid-row: auto / span 2;
}
.card--horizontal {
	grid-column: auto / span 2;
}
.card--frameless {
	background-color: transparent;
	box-shadow: none;
}
.big-script {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-size: 4.5em;
	line-height: 1.2em;
	text-align: center;
	font-family: "Dancing Script", cursive;
	padding: 2rem;
}
.big-script p {
	margin: 0;
}
.small-script {
	padding: 1.6rem;
}
@media (max-width: 413px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
	}
	.card {
		min-height: 12.8rem;
	}
}
@media (min-width: 627px) {
	.grid-container {
		grid-gap: 1.6rem;
	}
	.card__side-by-side--m {
		flex-flow: row nowrap;
	}
	.card__side-by-side--m img {
		min-height: 100%;
	}
	.card--featured {
		grid-row: auto / span 2;
		grid-column: -1;
	}
}
@media (min-width: 836px) {
	.padding-large--l {
		padding: 3.2rem;
	}
}
/* END GALLERY */

/* START SKILL */
:root {
	--radius: 10px;
	--icolor1: #d587a8;
	--icolor2: #e19067;
	--icolor3: #005b5c;
	--icolor4: #4f7dd3;
}
.container {
	position: absolute;
	left: 0;
	right: 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: 140px 80px auto 100px 30px;
	height: -webkit-fill-available;
	font-family: 'Handlee', cursive;
}
.header {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: "Dancing Script", cursive;
}
.title {
	width: 100%;
	height: 100%;
	line-height: 150px;
	font-size: 70px;
	text-align: center;
}
.indicators {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 5;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 10px;
}
#i1,
#i2,
#i3,
#i4 {
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#i2 {
	grid-column-start: 2;
	grid-column-end: 2;
}
#i3 {
	grid-column-start: 3;
	grid-column-end: 3;
}
#i4 {
	grid-column-start: 4;
	grid-column-end: 4;
}
.navi-indicator {
	height: 4px;
	width: 60px;
	border-radius: 20px;
	transition: width 0.2s;
}
#ni1 {
	background: var(--icolor1);
}
#ni2 {
	background: var(--icolor2);
}
#ni3 {
	background: var(--icolor3);
}
#ni4 {
	background: var(--icolor4);
}
.navi {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100px;
}
.navi-item1,
.navi-item2,
.navi-item3,
.navi-item4 {
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navi-item2 {
	grid-column-start: 2;
	grid-column-end: 2;
}
.navi-item3 {
	grid-column-start: 3;
	grid-column-end: 3;
}
.navi-item4 {
	grid-column-start: 4;
	grid-column-end: 4;
}
.nav-button {
	height: 70px;
	width: 70px;
	border-radius: 20px;
	background: #f3f3f3;
	box-shadow: 0 0 20px 0 #cf9eaa;
	font-weight: 700;
	cursor: pointer;
}
#frontendbutton .navi-icon {
	color: var(--icolor1);
}
#loadingbutton .navi-icon {
	color: var(--icolor2);
}
#translatebutton .navi-icon {
	color: var(--icolor3);
}
#gamebutton .navi-icon {
	color: var(--icolor4);
}
.navi-icon {
	height: 40px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
}
.navi-text {
	height: 30px;
	line-height: 20px;
	text-align: center;
	font-size: 0.9em;
	font-weight: 300;
}
.menu {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	overflow-y: auto;
}
.text-item {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 100px;
	margin: 15px;
	display: grid;
	grid-template-columns: auto 200px;
	grid-template-rows: 50px 50px;
	font-size: 1.2em;
	border-radius: var(--radius);
	padding: 0 25px;
	background: #f3f3f3;
	box-shadow: 0 0 20px 0 #cf9eaa;
}
.text-item-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-weight: 900;
	line-height: 70px;
	text-align: start;
}
.text-item-description {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	line-height: 50px;
	text-align: start;
}
.text-item-year {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	font-weight: 700;
	line-height: 100px;
	text-align: end;
}
.link-item {
	height: 100px;
	margin: 15px;
	display: grid;
	grid-template-rows: 50px 50px;
	font-size: 1.2em;
	border-radius: var(--radius);
	padding: 0 25px;
	background: #f3f3f3;
	box-shadow: 0 0 20px 0 #cf9eaa;
}
.link-item-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-weight: 900;
	line-height: 70px;
	text-align: start;
	cursor: pointer;
}
.link-item-name:hover {
	text-decoration: underline;
}
.image-item {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 400px;
	margin: 15px;
	display: grid;
	grid-template-rows: 50px 50px 300px;
	font-size: 1.2em;
	border-radius: var(--radius);
	padding-left: 30px;
	padding-top: 10px;
	background: #f3f3f3;
	box-shadow: 0 0 20px 0 #cf9eaa;
}
.image-item-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-weight: 900;
	line-height: 70px;
	text-align: start;
}
.image-item-description {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	line-height: 50px;
	text-align: start;
}
.image-item-image {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
	font-weight: 700;
	text-align: center;
}
.menu-separator {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 50px;
	margin: 15px;
	margin-top: 35px;
	font-size: 1.2em;
	line-height: 50px;
	font-weight: 700;
	border-radius: var(--radius);
	padding-left: 30px;
	background: #f3f3f3;
	box-shadow: 0 0 20px 0 #cf9eaa;
}
@media only screen and (min-width: 800px) {
	.container {
		grid-template-rows: 150px 100px 20px auto 20px;
	}
	.indicators {
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.navi-indicator {
		height: 4px;
		width: 100%;
		margin: 15px;
	}
	.navi {
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.navi-item1,
	.navi-item2,
	.navi-item3,
	.navi-item4 {
		display: flex;
	}
	.nav-button {
		height: 70px;
		width: 100%;
		margin: 15px;
		display: flex;
		justify-content: center;
		border-radius: var(--radius);
	}
	.navi-icon {
		height: 100%;
		line-height: 70px;
		font-size: 25px;
		text-align: center;
	}
	.navi-text {
		line-height: 70px;
		margin-left: 10px;
		text-align: left;
		font-size: 1.3em;
		font-weight: 700;
	}
	.menu {
		grid-row-start: 4;
		grid-row-end: 4;
	}
}
button,
p {
	display: inline-block;
	border: none;
	margin: 0;
	text-decoration: none;
	padding: 0;
	background: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow: hidden;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
input {
	padding: 0;
}
input:focus {
	outline: none;
}
button:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}
/* END SKILL */
