body {
  background-color: #ffe3e9;
  color: #eb7e7b;
  font-family: "Sofia", cursive;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* START AVATAR */
.avatar {
  margin-top: 100px;
  transition: all 0.8s;
}

.avatar:hover {
  transform: scale(1.1);
}

.avatar:hover figcaption {
  opacity: 1;
  transition: opacity 0.8s;
}

.avatar figure {
  font-size: 20px;
}

.avatar img {
  border: 1px solid #cf9eaa;
  width: 251px;
  height: 251px;
  box-shadow: 0 0 20px 0 #cf9eaa;
  border-radius: 50%;
  transition: all 0.8s;
}

.avatar img:hover {
  border-radius: 0;
  transition: all 0.8s;
}

figcaption {
  opacity: 0;
}

span {
  font-style: italic;
  font-size: 15px;
}

span:before {
  content: " - ";
}
/* END AVATAR */

/* START SOCIAL */
.social {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.share {
  width: 2rem;
  height: 2rem;
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  color: #c06e6b;
  border: 0.125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 #eb7e7b;
  border-radius: 50%;
  transition: 250ms;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.share:last-child {
  margin-right: 0;
}

.share:focus {
  outline-color: inherit;
}

.facebook:hover,
.facebook:focus {
  color: #3b5998;
  box-shadow: 0 0 24px 0 #3b5998;
}

.instagram:hover,
.instagram:focus {
  color: #e95950;
  box-shadow: 0 0 24px 0 #e95950;
}

.github:hover,
.github:focus {
  color: #000000;
  box-shadow: 0 0 24px 0 #000000;
}

.linkedin:hover,
.linkedin:focus {
  color: #007bb5;
  box-shadow: 0 0 24px 0 #007bb5;
}

.pinterest:hover,
.pinterest:focus {
  color: #cb2027;
  box-shadow: 0 0 24px 0 #cb2027;
}

.twitter:hover,
.twitter:focus {
  color: #55acee;
  box-shadow: 0 0 24px 0 #55acee;
}
/* END SOCIAL */

/* START GALLERY */
.gallery {
  margin: 3.2rem 0.8rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.card {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: white;
  box-shadow: 0 0 10px 0 #cf9eaa;
}

.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}

.card__image img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.card__side-by-side--m img {
  min-height: auto;
}

.card__content {
  padding: 1.6rem;
}

.card--featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}

.card--2x {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.card--vertical {
  grid-row: auto / span 2;
}

.card--horizontal {
  grid-column: auto / span 2;
}

.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  line-height: 1.2em;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 3.2rem;
}

.big-script p {
  margin: 0;
}

.small-script {
  padding: 1.6rem;
}

@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .card {
    min-height: 12.8rem;
  }
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card__side-by-side--m {
    flex-flow: row nowrap;
  }

  .card__side-by-side--m img {
    min-height: 100%;
  }

  .card--featured {
    grid-row: auto / span 2;
    grid-column: -1;
  }
}

@media (min-width: 836px) {
  .padding-large--l {
    padding: 3.2rem;
  }
}
/* END GALLERY */
